

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-weight: 100;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; font-weight: 300;
}
body {
  color: #5b5b5b;
  font-size: 1em;
  line-height: 1.4;

}

html.open-menu, html.open-menu body{
width: 100%;
height: 100%;
overflow: hidden;
position: relative;
}

h1 {  }
h2 { }
h3 {  }
a, a:visited, a:hover { text-decoration: none; color: #275ba2; -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-touch-callout: none;}
p {
  
}
img { border: 0; }
a img { border: 0; }
hr {
  border: 0;
  border-top: 1px solid #eaeaea;
  margin: 40px 0;
  padding: 0;
}

ul.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.fl { display: block; float: left; }
.fr { display: block; float: right; }

.clear { clear: both; }


.loading {
  height: 50px;
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  background-size: 50px;
  z-index: 100;
 background:url(../img/spinner.png);
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
  }
}


/* ---------------------------------------------------- */
/*                        Header                        */
/* ---------------------------------------------------- */
.header {
  background:#2789d0;
  height: 43px;
  text-align: center;
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
  width: 100%;
  position: absolute;
   -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translateZ(0);

}

.open-menu .header  {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
   -webkit-transform: translate3d(80%, 0, 0);
   -moz-transform: translate3d(80%, 0, 0);
   -ms-transform: translate3d(80%, 0, 0);
  -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(0, 0, 0);
}

.header p.sportstitle{
color: #ffffff;
padding: 10px 0px;
font-size: 15px;
opacity: 1;
position: absolute;
left: 20%;
right: 20%;
width: 60%;
text-indent: 31px;
-webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
-webkit-transform: translateZ(0);
}

.open-menu-right .header p.sportstitle{
  left:0%;
  opacity: 0;
    -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-transform: translateZ(0);
}

.header p.sportsarticle{
color: #ffffff;
padding: 10px 0px;
font-size: 15px;
opacity: 0;
position: absolute;
right:0%;
width: 50%;
-webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
-webkit-transform: translateZ(0);
}

.open-menu-right .header p.sportsarticle{
right: 25%;
width: 50%;
  opacity: 1;
    -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-transform: translateZ(0);
}

.header p.close{
color: #ffffff;
padding: 11px 10px;
text-indent: 5px;
font-size: 15px;
opacity: 0;
position: absolute;
left:40%;
background: url(../img/arrowLeft.png) no-repeat left;
  background-size: 10px;
  z-index: 1;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-touch-callout: none
-webkit-transition: all 400ms ;
-moz-transition: all 400ms ;
-ms-transition: all 400ms ;
-o-transition: all 400ms ;
transition: all 400ms ;
-webkit-transform: translateZ(0);

}

.open-menu-right .header p.close{
   opacity: 1;
   left:10px;
   z-index: 2;
}

.menu { display: block; width: 32px; height: 30px; text-indent: -9999px; background: url(../img/menuicon.png) center center no-repeat; padding:6px 5px 7px 10px;;border-right:1px solid #2a6aa1;
  box-shadow: 1px 0px 0px #1599f8;float:left;-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;background-size: 25px;
-webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: translateZ(0);
opacity: 1;
position: absolute;
z-index: 2;
  }
.open-menu-right .menu{
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translateZ(0);
  opacity: 0;
  z-index: 1;
  left:-55px;

}


/* ---------------------------------------------------- */
/*                         Blocks                       */
/* ---------------------------------------------------- */

.content-wrapper {
  width: 100%;
  overflow: hidden;
  background: #fff;
  height:100%;
  top:43px;
  position: absolute;
  -webkit-overflow-scrolling: touch; 
  -moz-overflow-scrolling: touch; 
  -ms-overflow-scrolling: touch; 
  -o-overflow-scrolling: touch; 
  overflow-scrolling: touch; 
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: translateZ(0);
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.open-menu .content-wrapper{
  position: absolute;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
   -webkit-transform: translate3d(80%, 0, 0);
   -moz-transform: translate3d(80%, 0, 0);
   -ms-transform: translate3d(80%, 0, 0);
  -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(0, 0, 0);
}

.content-wrapper .content-news{
  border-right: 1px solid #999;
  background:#fff;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch; 
  -moz-overflow-scrolling: touch; 
  -ms-overflow-scrolling: touch; 
  -o-overflow-scrolling: touch; 
  overflow-scrolling: touch; 
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
    -webkit-transform: translate3d(0%, 0, 0);
   -moz-transform: translate3d(0%, 0, 0);
   -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);


}
.open-menu-right .content-wrapper .content-news
{
-webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
   -webkit-transform: translate3d(-100%, 0, 0);
   -moz-transform: translate3d(-100%, 0, 0);
   -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}


.wrapmenu {
  overflow: scroll;
  background: none;
  overflow-x: hidden;
  overflow-y: auto;
  width: 80%;
  height: 100%;
  top: 0;
  z-index: 0;
  background: #2789d0;
}


/* ---------------------------------------------------- */
/*                        left menu                       */
/* ---------------------------------------------------- */
.left-menu {
  width: 100%;
  height:100%;
  display: none;
  line-height: 1;
  position:absolute;
  -webkit-overflow-scrolling: touch; 
  -moz-overflow-scrolling: touch; 
  -ms-overflow-scrolling: touch; 
  -o-overflow-scrolling: touch; 
  overflow-scrolling: touch; 
}

.left-menu ul{
  height:100%;
  background: #2789d0;
  margin-top: 43px;
}

.left-menu ul li {
  clear: both;
  /* text-shadow: 0 1px 1px rgba(0,0,0,0.4); */
  list-style-type: none;
  background: #2789d0;
  padding: 14px 15px;
  border-bottom:1px solid #0d7bc5;
  cursor: pointer;
  background-size: cover;
  /* border-bottom: 1px solid #003c68; */
}

.left-menu ul li p{
  color: #ffffff;
  background: url(../img/arrow.png) no-repeat right;
  background-size: 10px;
  font-size: 14px;
  font-family: sans-serif;
}

.left-menu ul li.current:last-child, .left-menu ul li.current:last-child:hover{
  border-bottom:0px;
}

.left-menu ul li.current, .left-menu ul li.current:hover{
  box-shadow: none;
border-top: 0px;
background: #014e86;
border-bottom: 1px solid #014e86;
margin-top: -1px;
  
}

/* ---------------------------------------------------- */
/*                        right menu                    */
/* ---------------------------------------------------- */

.content-news-full {
  overflow: scroll;
overflow-x: hidden;
overflow-y: auto;
height: 100%;
  line-height: 1;
  position:absolute;
  background: #fff;
  -webkit-overflow-scrolling: touch; 
  -moz-overflow-scrolling: touch; 
  -ms-overflow-scrolling: touch; 
  -o-overflow-scrolling: touch; 
  overflow-scrolling: touch; 
  visibility: hidden;

}

.content-news-full .fullcontent{
padding:10px;
position: relative;
overflow: hidden;
-webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
   -webkit-transform: translate3d(-20%, 0, 0);
   -moz-transform: translate3d(-20%, 0, 0);
   -ms-transform: translate3d(-20%, 0, 0);
  -o-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
}

.open-menu-right .content-news-full .fullcontent{
-webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
   -webkit-transform: translate3d(0%, 0, 0);
   -moz-transform: translate3d(0%, 0, 0);
   -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);

}

.content-news-full .fullcontent .currentStory p, .content-news-full .currentTrailText{
  margin-bottom:15px;
  font-size: 15px;
  line-height: 20px;
  color:#000;
}

.content-news-full .fullcontent img, .content-news-full .fullcontent .gu_advert{
  display:none;
}

.content-news-full .generalpic{
  background-size: cover !important;
  height: 169px;

}
.content-news-full .currentHeadline{
  background: #fff;
  font-size: 20px;
  width: 90%;
  padding: 7px 7px 0px 0px;
  color: #000;
  line-height: 25px;
  margin: -20px 0px 0px 0px;
}

.content-news-full .currentTrailText, .content-news-full .currentTrailText strong, .content-news-full .currentTrailText p, .content-news-full .currentTrailText b{
  font-weight: bold;
}
.content-news-full .currentTime{
 padding-bottom: 10px;
border-bottom: 1px solid #eaeaea;
font-size: 14px;
font-weight: bold;
margin: 15px 0px;
}

.content-news-full .fullcontent .currentStory .block
{
padding-bottom: 0px;
margin-bottom: 15px;
background: #f2f2f2;
padding: 10px;
border-left: 6px solid #dddddd;
}

.content-news-full .fullcontent .currentStory h2, .content-news-full .fullcontent .currentStory h2 a, .content-news-full .fullcontent .currentStory h2 strong{
color: #000;
font-size: 15px;
font-weight: bold;
margin-bottom: 10px;
margin-top: 25px;
}

.twitter-tweet{
position: relative;
padding: 15px;
margin: 1em 0 3em;
background: #68a8df !important;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin-bottom: 10px !important;
border-left: none !important;
font-size: 11px;
color: #fff;
}

.twitter-tweet p{
  color:#fff !important;
  margin-bottom:10px !important;

}

.twitter-tweet a{
  color:#003c68;
}

.element-tweet{

background: url(../img/twitter.png);
background-size: 17px;
background-repeat: no-repeat;
background-position: left 88px top 3px;
margin-bottom: 20px;
}

/*.twitter-tweet p.left:after {
top: 16px;
left: -40px;
bottom: auto;
border-width: 10px 40px 10px 0;
border-color: transparent #68a8df;
}*/
.twitter-tweet:after
{
content: "";
position: absolute;
bottom: -20px;
left: 50px;
border-width: 20px 0 0 20px;
border-style: solid;
border-color: #68a8df transparent;
display: block;
width: 0;
}

.twitter time{
  background: url(../img/twitter.png);
background-size: 15px;
background-repeat: no-repeat;
background-position: right;
padding-right: 20px;
}


.content-news-full .fullcontent .currentStory .block.wicket
{
  border-left:7px solid #2789d0;
}

.content-news-full .fullcontent .currentStory .block.review
{
  border-left:7px solid #83e000;
}

.content-news-full .fullcontent .currentStory .block.is-summary{
padding-top: 15px;
}
.content-news-full .fullcontent .currentStory .block .published-time{
margin-bottom: 5px;
color: #2789d0;
font-size: 14px;
}
.content-news-full .fullcontent .currentStory .block .published-time span{
  color: #333;
}

.content-news-full .fullcontent .currentStory .block h2{
  font-weight: bold;
color: #000;
font-size: 15px;
line-height: 20px;
margin-bottom: 10px;
margin-top:0px;
}

.content-news-full .fullcontent .currentStory .block .updated-time{
  display: none;
}






/*---------------Login section---------------*/

.left-menu .loginSection{
  background: #003c68;
  height: 43px;
  position: relative;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 80%;
  z-index: 1;
}

.left-menu .loginSection h1{
 color: #ffffff;
text-align: left;
line-height: 43px;
text-indent: 15px;
text-transform: uppercase;
font-family: sans-serif;
font-size: 14px;
}




/* ---------------------------------------------------- */
/*                        Content                       */
/* ---------------------------------------------------- */


.tab-content{
  display: none;

}

.tab-content > div{
  padding: 12px 10px 0px 10px;
  display: none;
}

.tab-content.current{
  display: inherit;
}

.tab-content > div .story{
    clear: both;
    margin-bottom: 10px;
font-family: sans-serif;
border-bottom: 1px solid #eaeaea;
padding-bottom: 10px;
cursor: pointer;
    width: 100%;
}


.tab-content > div .head-container{
   clear: both; 
  display: inline-block; 
  height: 84px;
  width:100%;
}


.tab-content > div .story:last-child{
  margin-bottom: 0px;
  border-bottom: none;
}

.tab-content > h1{
  background: url(../img/listBg.jpg);
  padding: 10px;
  color: #999;
  text-align: center;
  border-bottom: 1px solid #000000;
  box-shadow: inset 0px 1px 0px #2a2a2a;
}

.tab-content > div .story .image-container{
height: 84px;
overflow: hidden;
border-radius: 3px;
 float: left;
 margin-right: 3%;
 width: 28%;
 max-width: 116px;
 position: relative;
}

.tab-content > div .story .image-container.noImage{
background: url(../img/noPic.png) no-repeat #2789d0;
background-size: 34px;
background-position: center;
}

.tab-content > div .story img{
  margin-left: -24px;

}
.noStoryError{
  position: absolute;
  width: 100%;
  background: #000;
  opacity: 0.7;
  text-align: center;
  color: #fff;
  font-size: 11px;
  padding: 2px 0px;
}

a.noStoryError:visited, a.noStoryError:hover{
  color:#ffffff;
}


.tab-content > div .story p.webTitle{
font-size: 16px;
color: #222222;
height: 42px;
overflow: hidden;
margin-top:9px;
}


.tab-content > div .story p.sectionTitle, .tab-content > div .story p.pubDate, .tab-content > div .story p.pubTime{
  font-size: 14px;
  color:#999;
  float:left;
}

.tab-content > div .story p.pubDate{
color: #98b721;
margin-right:5px;
}


.tab-content > div .story .webTitle{
  margin-bottom:6px;
}

.tab-content > div .story .trailing-content{
  font-size: 14px;
  padding: 0px 0px;
  color:#999;
  line-height: 17px;
  overflow: hidden; 
  min-height:0px;
  max-height: 0px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translateZ(0);
}

.tab-content > div .story .trailing-content div{
  margin:10px 0px 0px 0px;
}
